<section class="main-header">
    <div class="container-fluid">
        <div class="wrapper">
            <p class="head ps-3 pt-2"> Manage Inventory</p>
            <div class="content ">
               
                <div class="row">
                    <div class="col-md-12 column">
                        <table class="table table-borderless table-hover table-responsive ">
                            <thead>
                                <tr class="table-light ">
                                    <th scope="col"> <input class=" chkbox form-check-input" type="checkbox"> </th>
                                    <th scope="col" width="5%"> Status</th>
                                    <th scope="col" width="10%"> Image </th>
                                    <th scope="col" width="10%"> Code </th>
                                    <th scope="col" width="10%"> Type </th>
                                    <th scope="col" width="15%"> Product Name </th>
                                    <th scope="col" width="10%"> Date Created </th>
                                    <th scope="col" width="10%"> Available </th>
                                    <th scope="col" width="10%"> MRP</th>
                                    <th scope="col" width="10%"> Discount</th>
                                    <th scope="col" width="10%"> Price +Shipping </th>                         
                                    <th scope="col" width="15%>"> <button class="dropbtn btn-outline-primary">Save all</button> </th>

                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <th scope="row"> <input class="form-check-input mt-2" type="checkbox"> </th>
                                    <td>

                                        <select class=" mt-2 custom-select custom-select-sm menu align-items-md-start">
                                            <option selected>Instock</option>
                                            <option value="1">Out of Stock</option>
                                        </select>
                                    </td>
                                    <td class="w-10">
                                        <!-- Status -->
                                        <img src="assets/images/EHW.png" height="80px" width="60px">
                                        <!-- class=" img-thumbnail" alt=""> -->
                                    </td>
                                    <td> Paperback </td>
                                    <td> English Handwriting Improvement Kit </td>
                                    <td> 23/02/2022 11:46:50 </td>
                                    <td> <input type="text" class="form-control " placeholder="100" maxlength="8"> </td>
                                    <td>
                                        <span class="input-group-text"> &#x20B9;&nbsp;
                                            <input type="text" class="form-control " placeholder="100"
                                                maxlength="23">.00</span>
                                                <p class="text-start ms-3"> + &nbsp;&#x20B9;60.00</p>
                                    </td>
                                    <td>
                                        <span class="input-group-text"> &#x20B9;&nbsp;
                                            <input type="text" class="form-control" maxlength="15" placeholder="2000"
                                                aria-label="PS">.00</span>

                                    </td>
                                    <!-- <td>
                                      
                                            <span class="input-group-text"> &#x20B9;&nbsp;
                                            <input type="text " class="form-control" size="10" maxlength="8"
                                                placeholder="50 " aria-label="MRP "> .00</span>
                                          
                                    </td> -->
                                    <td>
                                        <div class="dropdown">
                                            <button class="dropbtn btn-outline-primary">Edit</button>
                                            <div class="dropdown-content">
                                                <a href="#">Manage Product</a>
                                                <!-- <a href="#">Link 2</a>
                                      <a href="#">Link 3</a> -->
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row"> <input class="form-check-input mt-2" type="checkbox"> </th>
                                    <td>

                                        <select class=" mt-2 custom-select custom-select-sm menu align-items-md-start">
                                            <option selected>Instock</option>
                                            <option value="1">Out of Stock</option>
                                        </select>
                                    </td>
                                    <td class="w-10">
                                        <!-- Status -->
                                        <img src="assets/images/MEF.jpg" height="80px" width="60px">
                                        <!-- class=" img-thumbnail" alt=""> -->
                                    </td>
                                    <td> Paperback </td>
                                    <td> My English Friend </td>
                                    <td> 23/02/2022 11:46:50 </td>
                                    <td> <input type="text" class="form-control " placeholder="100" maxlength="8"> </td>
                                    <td>
                                        <span class="input-group-text"> &#x20B9;&nbsp;
                                            <input type="text" class="form-control " placeholder="100"
                                                maxlength="23">&nbsp;.00</span>
                                            <p class="text-start ms-3"> + &nbsp;&#x20B9;60.00</p>
                                    </td>
                                    <td>
                                        <span class="input-group-text"> &#x20B9;&nbsp;
                                            <input type="text" class="form-control" maxlength="15" placeholder="2000"
                                                aria-label="PS">.00</span>

                                    </td>
                                    <!-- <td>
                                      
                                            <span class="input-group-text"> &#x20B9;&nbsp;
                                            <input type="text " class="form-control" size="10" maxlength="8"
                                                placeholder="50 " aria-label="MRP "> .00</span>
                                          
                                    </td> -->
                                    <td>
                                        <div class="dropdown">
                                            <button class="dropbtn btn-outline-primary">Edit</button>
                                            <div class="dropdown-content">
                                                <a href="#">Manage Product</a>
                                                <!-- <a href="#">Link 2</a>
                                      <a href="#">Link 3</a> -->
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row"> <input class="form-check-input mt-2" type="checkbox"> </th>
                                    <td>

                                        <select class=" mt-2 custom-select custom-select-sm menu align-items-md-start">
                                            <option selected>Instock</option>
                                            <option value="1">Out of Stock</option>
                                        </select>
                                    </td>
                                    <td class="w-10">
                                        <!-- Status -->
                                        <img src="assets/images/HHW.png" height="80px" width="60px">
                                        <!-- class=" img-thumbnail" alt=""> -->
                                    </td>
                                    <td> Paperback </td>
                                    <td> Hindi Handwriting Improvement Kit </td>
                                    <td> 23/02/2022 11:46:50 </td>
                                    <td> <input type="text" class="form-control " placeholder="100" maxlength="8"> </td>
                                    <td>
                                        <span class="input-group-text"> &#x20B9;&nbsp;
                                            <input type="text" class="form-control " placeholder="100"
                                                maxlength="23">.00</span>
                                                <p class="text-start ms-3"> + &nbsp;&#x20B9;60.00</p>
                                    </td>
                                    <td>
                                        <span class="input-group-text"> &#x20B9;&nbsp;
                                            <input type="text" class="form-control" maxlength="15" placeholder="2000"
                                                aria-label="PS">.00</span>
                                               
                                    </td>
                                    <!-- <td>
                                      
                                            <span class="input-group-text"> &#x20B9;&nbsp;
                                            <input type="text " class="form-control" size="10" maxlength="8"
                                                placeholder="50 " aria-label="MRP "> .00</span>
                                          
                                    </td> -->
                                    <td>
                                        <div class="dropdown">
                                            <button class="dropbtn btn-outline-primary">Edit</button>
                                            <div class="dropdown-content">
                                                <a href="#">Manage Product</a>
                                                <!-- <a href="#">Link 2</a>
                                      <a href="#">Link 3</a> -->
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- https://bbbootstrap.com/snippets/bootstrap-5-table-search-and-checkboxes-10209122 -->

<!-- <div class="content "> -->
<!-- <div class="content-wrapper"> -->
<!--Sale :  Small Box (Stat card) -->
<!-- <div class="container"> -->

<!-- </div>
    </div> -->
<!-- </div> -->