<!---- Add a Product /Manage Inventory/Edit        -->




<section class="headimage">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
  
        </div>
        <div class="col-md-4 text-center">
          <img class="imgpo mt-3" src="assets/images/EHW.png" height="300px" width="200px">
        </div>
  
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3> English Handwriting Book </h3>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <section class="navhead">
    <div class="row">
      <div class="col-md-2"> </div>
  
      <div class="col-md-8">
        <nav class="navbar navbar-expand-lg navbar-light bg-light ">
          <div class="container-fluid">
            <a class="navbar-brand"> </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav text-center me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link " [routerLink]="['/addproduct']"aria-current="page">Product Info</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" [routerLink]="['/addpro-offer']">Offer</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link  " [routerLink]="['/addpro-image']">Images</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/addpro-des']">Description & Keywords</a>
                </li>
                <!-- <li class="nav-item">
                                <a class="nav-link" href="#">Keywords</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">More details</a>
                            </li> -->
              </ul>
  
            </div>
          </div>
        </nav>
  
        <form>
  
          <div class="input-group mb-3 mt-4">
            <label for="inputomrp" class="col-sm-2 col-form-label">M.R.P</label>
            <span class="input-group-text ms-1">&#x20B9;</span>
            <div class="col-md-3">
              <input type="text" class="form-control" aria-label="Amount">
              <!-- <span class="input-group-text">.00</span> -->
            </div>
          </div>
          <div class="input-group mb-3">
            <label for="inputosp" class="col-sm-2 col-form-label">Selling Price</label>
            <span class="input-group-text ms-1">&#x20B9;</span>
            <div class="col-md-3">
              <input type="text" class="form-control" aria-label="Amount">
              <!-- <span class="input-group-text">.00</span> -->
            </div>
          </div>
  
          <div class="input-group mb-3">
            <label for="inputodsc" class="col-sm-2 col-form-label">Discount</label>
            <span class="input-group-text ms-1">&#x20B9;</span>
            <div class="col-md-3">
              <input type="text" class="form-control" aria-label="Amount">
              <!-- <span class="input-group-text">.00</span> -->
            </div>
          </div>
          
          <div class="input-group mb-3">
            <label for="inputosf" class="col-sm-2 col-form-label">Shipping Fee</label>
            <span class="input-group-text ms-1">&#x20B9;</span>
            <div class="col-md-3">
              <input type="text" class="form-control" aria-label="Amount">
              <!-- <span class="input-group-text">.00</span> -->
            </div>
          </div>
          <div class="input-group mb-3">
            <label for="inputssd" class="col-sm-2 col-form-label">Sale Start Date</label>
            <div class="col-md-3 ms-1">
              <input type="date" id="inputssd" value="2014-02-09">
            </div>
            <label for="myDate" class="col-sm-2 col-form-label">Sale End Date</label>
            <div class="col-md-3">
              <input type="date" id="myDate" value="2014-02-09">
            </div>
          </div>
  
          <div class="row mb-3 mt-2">
            <div class="col-md-5">
  
            </div>
            <div class="col-md-5">
              <button type="submit" class="btn1 btn-primary me-3">Save and Finish</button>
              <button type="submit" class="btn2 btn-light">Cancel</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-2"> </div>
    </div>
  </section>
