<!-- Here we are using attributes like
        cellspacing and cellpadding 
 https://www.geeksforgeeks.org/design-a-calendar-using-html-and-css/   
    
    -->
  
    <!-- The purpose of the cellpadding is 
        the space that a user want between
        the border of cell and its contents-->
  
    <!-- cellspacing is used to specify the 
        space between the cell and its contents -->
        <h2 align="center" style="color: #790666;">
            Friday 15th
            January 2022
        </h2>
        
      
        <table bgcolor="lightgrey" align="center" 
            cellspacing="21" cellpadding="21">
      
            <!-- The tr tag is used to enter 
                rows in the table -->
      
            <!-- It is used to give the heading to the
                table. We can give the heading to the 
                top and bottom of the table -->
      
            <caption align="top">
                <!-- Here we have used the attribute 
                    that is style and we have colored 
                    the sentence to make it better 
                    depending on the web page-->
            </caption>
      
            <!-- Here th stands for the heading of the
                table that comes in the first row-->
      
            <!-- The text in this table header tag will 
                appear as bold and is center aligned-->
      
            <thead>
                <tr>
                    <!-- Here we have applied inline style 
                         to make it more attractive-->
                    <th style="color: white; background: purple;">
                        Sun</th>
                    <th style="color: white; background: purple;">
                        Mon</th>
                    <th style="color: white; background: purple;">
                        Tue</th>
                    <th style="color: white; background: purple;">
                        Wed</th>
                    <th style="color: white; background: purple;">
                        Thu</th>
                    <th style="color: white; background: purple;">
                        Fri</th>
                    <th style="color: white; background: purple;">
                        Sat</th>
                </tr>
            </thead>
      
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>1</td>
                    <td>2</td>
                </tr>
                <tr></tr>
                <tr>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                    <td>16</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>18</td>
                    <td>19</td>
                    <td>20</td>
                    <td>21</td>
                    <td>22</td>
                    <td>23</td>
                </tr>
                <tr>
                    <td>24</td>
                    <td>25</td>
                    <td>26</td>
                    <td>27</td>
                    <td>28</td>
                    <td>29</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>31</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                </tr>
            </tbody>
        </table>
        <div class="back">
            <input placeholder="What's the event?">
            <div class="info">
              <div class="date">
                <p class="info-date">
                Date: <span>Jan 15th, 2016</span>
                </p>
                <p class="info-time">
                  Time: <span>6:35 PM</span>
                </p>
              </div>
              <div class="address">
                <p>
                  Address: <span>129 W 81st St, New York, NY</span>
                </p>
              </div>
              <div class="observations">
                <p>
                  Observations: <span>Be there 15 minutes earlier</span>
                </p>
              </div>
            </div>
  
            <div class="actions">
              <button class="save">
                Save <i class="ion-checkmark"></i>
              </button>
              <button class="dismiss">
                Dismiss <i class="ion-android-close"></i>
              </button>
            </div>
          </div>
  
       