<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <!-- <span class="fs-5 d-none d-sm-inline">Menu</span> -->
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                           <span class="ms-1 d-none d-sm-inline">New</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                             <span class="ms-1 d-none d-sm-inline">Edit</span>
                        </a>

                    </li>
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                             <span class="ms-1 d-none d-sm-inline">Delete</span>
                        </a>

                    </li>
               


                </ul>
                <hr>

            </div>
        </div>
        <div class="col py-3">
            <form>
                <div class="row mb-3">
                    <label for="inputpf" class="col-sm-2 col-form-label">Type of Address</label>
                    <div class="col-md-3">
                        <select id="inputpf" class="form-select">
                            <option selected>Mr.</option>
                            <option>Ms.</option>
                            <option>Mrs.</option>
                         

                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="fname" class="col-sm-2 col-form-label">First Name</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="fname">
                    </div>
                    <label for="lname" class="col-sm-2 ps-5 mt-2">Last Name</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="lname">
                    </div>
                </div>
                <div class="row mb-3 mt-4">
                    <label for="mname" class="col-sm-2 col-form-label">Middle Name</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="mname">
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="phone" class="col-sm-2 col-form-label">Mobile Number</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="phone">
                    </div>
                    <label for="phone1" class="col-sm-2 col-form-label">Emergency Number</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="phone1">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="mstatus" class="col-sm-2 col-form-label">Marital Status</label>
                    <div class="col-md-3">
                        <select id="mstatus" class="form-select">
                            <option selected>Married</option>
                            <option>Single</option>
                            <option>Divorced</option>
                            <option>Widow</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="nati" class="col-sm-2 col-form-label">Nationality</label>
                    <div class="col-md-3">
                        <select id="nati" class="form-select">
                            <option selected>Indian</option>
                            <option>NRI</option>
                            <option>Foreigner</option>    
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="cob" class="col-sm-2 col-form-label">Country of Birth</label>
                    <div class="col-md-3">
                        <select id="cob" class="form-select">
                            <option selected>India</option>
                            <option>USA</option>
                            <option>UK</option>    
                        </select>
                    </div>
                </div>
               <div class="row mb-3">
                    <label for="sob" class="col-sm-2 col-form-label">State of Birth</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="sob">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="ciob" class="col-sm-2 col-form-label">City of Birth</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="ciob">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="ciob" class="col-sm-2 col-form-label">City of Birth</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="ciob">
                    </div>
                </div>
                <div class="row mb-3">
                  
                    <label for="ciob" class="col-sm-2 col-form-label">Gender</label>
                    <div class="col-md-3">
                        <input class="form-check-input mt-2" type="radio" name="radioDefault" id="formRadioDefault">
                        <label class="form-check-label mt-2" for="formRadioDefault">&nbsp; Male</label> &nbsp;
                        <input class="form-check-input mt-2" type="radio" name="radioDefault" id="formRadioDefault">
                        <label class="form-check-label mt-2" for="formRadioDefault">&nbsp; Female</label> &nbsp;
                        <input class="form-check-input  mt-2" type="radio" name="radioDefault" id="formRadioDefault">
                        <label class="form-check-label mt-2" for="formRadioDefault">&nbsp; Other</label> &nbsp;
                      </div>
                 
                </div>
                <div class="row mb-3 mt-2">
                    <div class="col-md-3">
          
                    </div>
                    <div class="col-md-5">
                      <button type="submit" class="btn btn-primary me-3">Submit</button>
                      <button type="submit" class="btn btn-light">Reset</button>
                    </div>
                  </div>
            </form>
        </div>
    </div>
</div>