/* Feedback */
/* .llearners
{
	margin-bottom: 20px;
	background-color: whitesmoke;	
	height:600px;
	overflow-y: auto;
}
.lcparent{
	font-family: 'Lato',sans-serif;
	font-size: 18px;
	color:#790666;
	font-weight:900px;
	 
}
.lcfb
{
	font-family: 'Lato-regular';
	font-size: 16px;
	color:#222831;
	text-align:justify;

}
.lcresult{
  
}
.lcrowcourse{
	font-family: 'Lora';
	font-size: 40px;
	font-weight: 800;
	color: #790666;
	
} */
/* Testimonials */

#Testimonials1{


    padding:7% 7% 15% 15%;	 
text-align: center;



}

.review{
  background-color:#790666; 
  border-color:#f8fbff;
  border-width: thick;
  border-style:inset;
  width: auto;
}
.greview{
color: #f8fbff;

}


.test-img{
  width:100%;
  height: auto;
 
  
  }
  .view{
      display: flex;
      justify-content: center;
      
  }
/* .carousel-caption{
  top: 0;
  bottom: auto;
  
  color:#6F016F;
} */
.courses{
  font-family: 'Lora';
  font-size: 20px;
  font-weight: 400;
  color: #790666;
}