<!-- Section 4 -------What are learners are saying---------------------------------------- -->



<!----Sec 7 -----------Carosuel----->
<section id="Testimonials1">

    <h4 class="courses text-center mb-4">Feedback from Customers</h4>
    <div class="row review">
        <div class="col-md-9 container">
            <!-- <div class="view w-75"> -->
            <hr>
            <img class=" test-img center-block d-block w-100" src="assets/images/r1.jpg" alt="1">
            <hr>
            <img class="test-img d-block w-100" src="assets/images/ar2.jpg" alt="Third slide">
            <!-- </div> -->
            <hr>
            <img class=" test-img center-block d-block w-100" src="assets/images/r1.jpg" alt="1">
            <hr>



            <img class="test-img d-block w-100" src="assets/images/ar2.jpg" alt="Third slide">
            <hr>

            <img class="test-img d-block w-100" src="assets/images/r3.jpg" alt="Second slide">
            <hr>

            <img class="test-img d-block w-100" src="assets/images/ar4.jpg" alt="Third slide">
            <hr>


            <img class="test-img d-block w-100" src="assets/images/r5.jpg" alt="Third slide">
            <hr>



            <img class="test-img d-block w-100" src="assets/images/ar6.jpg" alt="Third slide">
            <hr>


            <img class="test-img d-block w-100" src="assets/images/r7.jpg" alt="Third slide">
            <hr>



            <img class="test-img d-block w-100" src="assets/images/ar8.jpg" alt="Third slide">
            <hr>



            <img class="test-img d-block w-100" src="assets/images/r9.jpg" alt="Third slide">
            <hr>


            <img class="test-img d-block w-100" src="assets/images/ar10.jpg" alt="Third slide">
            <hr>


            <img class="test-img d-block w-100" src="assets/images/r11.jpg" alt="Third slide">
            <hr>


            <img class="test-img d-block w-100" src="assets/images/r2.jpg" alt="Third slide">
            <hr>


            <img class="test-img d-block w-100" src="assets/images/r13.jpg" alt="Third slide">
            <hr>


            <img class="test-img d-block w-100" src="assets/images/r4.jpg" alt="Third slide">
            <hr>


            <img class="test-img d-block w-100" src="assets/images/r15.jpg" alt="Third slide">
            <hr>

            <img class="test-img d-block w-100" src="assets/images/r6.jpg" alt="Third slide">
            <hr>

            <img class="test-img d-block w-100" src="assets/images/r17.jpg" alt="Third slide">
            <hr>

            <img class="test-img d-block w-100" src="assets/images/r8.jpg" alt="Third slide">
            <hr>

            <img class="test-img d-block w-100" src="assets/images/r18.jpg" alt="Third slide">
            <hr>
            <img class="test-img d-block w-100" src="assets/images/r10.jpg" alt="Third slide">
            <hr>

            <img class="test-img d-block w-100" src="assets/images/ar1.jpg" alt="Third slide">
            <hr>

            <img class="test-img d-block w-100" src="assets/images/r12.jpg" alt="Third slide">
            <hr>

            <img class="test-img d-block w-100" src="assets/images/ar3.jpg" alt="Third slide">
            <hr>

            <img class="test-img d-block w-100" src="assets/images/ar11.jpg" alt="Third slide">
            <hr>

            <img class="test-img d-block w-100" src="assets/images/r14.jpg" alt="Third slide">
            <hr>
            <img class="test-img d-block w-100" src="assets/images/ar5.jpg" alt="Third slide">
            <hr>

            <img class="test-img d-block w-100" src="assets/images/r16.jpg" alt="Third slide">
            <hr>

            <img class="test-img d-block w-100" src="assets/images/ar12.jpg" alt="Third slide">
            <hr>
            <img class="test-img d-block w-100" src="assets/images/ar7.jpg" alt="Third slide">
            <hr>
            <img class="test-img d-block w-100" src="assets/images/ar9.jpg" alt="Third slide">
            <hr>
            <img class="test-img d-block w-100" src="assets/images/ar13.jpg" alt="Third slide">
            <hr>

        </div>
    </div>
</section>