<!---- Add a Product /Manage Inventory/Edit        -->




<section class="headimage">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">

      </div>
      <div class="col-md-4 text-center">
        <img class="imgpo mt-3" src="assets/images/EHW.png" height="300px" width="200px">
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <h3> English Handwriting Book </h3>
      </div>
    </div>
  </div>
</section>
<hr>
<section class="navhead">

  <div class="row">
    <div class="col-md-2"> </div>

    <div class="col-md-8">
      <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <div class="container-fluid">
          <a class="navbar-brand"> </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav text-center me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" [routerLink]="['/addproduct']">Product Info</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " [routerLink]="['/addpro-offer']">Offer</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link  active" [routerLink]="['/addpro-image']">Images</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"[routerLink]="['/addpro-des']">Description & Keywords</a>
              </li>
              <!-- <li class="nav-item">
                                <a class="nav-link" href="#">Keywords</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">More details</a>
                            </li> -->
            </ul>

          </div>
        </div>
      </nav>



      <div class="row  mt-3">
        <div class="col-md-6 mt-4"> 
          <h4 text-center>Upload Images</h4>
          </div>
          <div class="col-md-6 mt-4"> 
            <!-- <button class="btn btn-primary me-3" type="submit ">Submit</button> -->
            <button type="submit" class="btn1 btn-primary me-3">Save and Finish</button>
            <button type="submit" class="btn2 btn-light">Cancel</button>
          </div>
        </div>
        <div class="row  mt-3">
        <div class="col-md-12">
          
          <div class="container img  ">

          
            <h1> Select Images</h1>
   
            <form [formGroup]="myForm" (ngSubmit)="submit()">
                     
                <!-- <div class="form-group">
                    <label for="name">Name</label>
                    <input 
                        formControlName="name"
                        id="name" 
                        type="text" 
                        class="form-control">
                    <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
                        <div *ngIf="f.name.errors && f.name.errors.required">Name is required.</div>
                        <div *ngIf="f.name.errors && f.name.errors.minlength">Name should be 3 character.</div>
                    </div>
                </div> -->
               
                <div class="form-group">
                    <label for="file">File</label>
                    <input 
                        formControlName="file"
                        id="file" 
                        type="file" 
                        class="form-control"
                        multiple="" 
                        (change)="onFileChange($event)">
                    <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
                        <div *ngIf="f.file.errors && f.file.errors.required">File is required.</div>
                    </div>
                </div>
               
                <img *ngFor='let url of images'  [src]="url" height="200px" width="200px" style="margin: 3px; max"> <br/>
                   
                <button class="btn1 btn-primary" type="submit">Submit</button>
          
                <!-- <div class="preview-wrapper">
                  <div class="img-preview" *ngFor='let url of images'>
                    <img [src]="url" width="200px">
                    <button type="button" class="btn btn-danger btn-sm" (click)="removeImage(url)">Remove</button>
                  </div>
                </div> -->
  
 
            </form>
            
          </div>
        </div>
        <!-- <div class="col-md-5">
          <button type="submit" class="btn btn-primary me-3">Save and Finish</button>
          <button type="submit" class="btn btn-light">Cancel</button>
        </div> -->
      </div>

    </div>
    <div class="col-md-2"> </div>

  </div>
  <!-- </form> -->
</section>