<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
    <!--- Pay PRocess-->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #790666;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Salary</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item ms-3 ps-3">
                    <a class="nav-link  active" aria-current="page" href="#">PayProcess</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Employee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Department</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Advance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Commission</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Deductions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Increment</a>
                </li>
                <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->

            </ul>
            <!-- <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
        </div>
    </div>
</nav>

<h3 class="h3 mb-3 ms-4 pt-2"><strong>Process </strong> Payrun 01/01/2021 to 01/02/2021 </h3>

<!-- <p class="phead ps-3 pt-2 mb-4"> Process Payrun </p> -->
<div class="row">
    <div class="col-md-2 ms-3 ps-4 mt-2 column">
    <div class="card card-primary card-outline">
        <div class="card-body box-profile">
            <h2 class="inout text-center">Employees Net Pay </h2>
            <p class="text-muted text-center">Rs.1234</p>
        </div>
    </div>
</div>
<div class="col-md-2 ms-3 ps-4 mt-2 column">
    <div class="card card-primary card-outline">
        <div class="card-body box-profile">
            <h2 class="inout text-center">Payment Date </h2>
            <p class="text-muted text-center">31/04/2022</p>
        </div>
    </div>
</div>
<div class="col-md-2 ms-3 ps-4 mt-2 column">
    <div class="card card-primary card-outline">
        <div class="card-body box-profile">
            <h2 class="inout text-center">No of Employees</h2>
            <p class="text-muted text-center">5</p>
        </div>
        
    </div>
   
</div>
<div class="col-md-1 ms-3 ps-4 mt-4 column">
<button class=" btn-outline-primary"> View & Pay</button>
</div>

<aside class="col-md-12 ms-2 mt-2">
   
    <table class="table  table-borderless table-hover table-responsive ">
        <thead>
            <tr class="table-light  ">
                <th scope="col" width="3%"> S.No </th>
                <th scope="col" width="10%"> Employee Name </th>
                <th scope="col" width="10%"> Employee Department</th>
                <th scope="col" width="10%"> Basic Salary </th>
                <th scope="col" width="10%"> Conveyance Allowance</th>
                <th scope="col" width="10%"> DA Allowance </th>
                <th scope="col" width="10%"> Gross Pay </th>
                <th scope="col" width="10%"> Advance Pay </th>
                <th scope="col" width="10%"> Net Pay </th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <!-- <th scope="row"> <input class="form-check-input mt-2" type="checkbox"> </th> -->
                <td> 1.</td>
                <td> ARS SHARMA </td>
                <td> IT </td>
                <td> &#x20B9; 100000</td>
                <td> &#x20B9; 10000</td>
                <td> &#x20B9; 10000</td>
                <td> &#x20B9; 10000</td>
                <td> &#x20B9;50000</td>
                <td> &#x20B9; 10000</td>

              
                
                <td>
                    <button class=" btn-outline-primary">Pay Now</button>
                    
                </td>
                <td>
                    <button class=" btn-outline-primary">Print</button>
                </td>
                <td>
                    <button class=" btn-outline-primary">Next</button>
                </td>
            </tr>
        </tbody>
    </table>
</aside>
</div>
