<!-- 
    For Commmission Only
    
    
    <p>comsal works!</p> -->
<section class="main-header">
    <div class="container-fluid">
        <div class="wrapper">
            <p class="head ps-3 pt-2"> Commission</p>
            <div class="content ">
                <div class="col-md-12 d-flex">
                    <div class="w-100">
                        <div class="row ms-4 ps-4 ">
                            <div class="col-md-2">
                                
                            </div>
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col mt-0">
                                                <h3 class="card-title">Total no of referrals</h3>
                                            </div>
                                        </div>
                                        <h1 class="mt-1 mb-3">232323</h1>
                                        <!-- <div class="mb-0">
                                        <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -3.65% </span>
                                        <span class="text-muted">Since last week</span>
                                    </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col mt-0">
                                                <h3 class="card-title">Commision Paid</h3>
                                            </div>
                                        </div>
                                        <h1 class="mt-1 mb-3"> &#x20B9; 1,090,290</h1>
                                        <!-- <div class="mb-0">
                                        <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -3.65% </span>
                                        <span class="text-muted">Since last week</span>
                                    </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col mt-0">
                                                <h3 class="card-title"> Balance</h3>
                                            </div>
                                        </div>
                                        <h1 class="mt-1 mb-3"> &#x20B9;50,000</h1>
                                        <!-- <div class="mb-0">
                                        <span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 5.25% </span>
                                        <span class="text-muted">Since last week</span>
                                    </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-2 column ">
                    </div>
                    <div class="col-md-10 column ">
                        <table class="table  table-borderless table-hover table-responsive ">
                            <thead>
                                <tr class="table-light  ">

                                    <th scope="col" width="5%"> Date </th>
                                    <th scope="col" width="10%"> Referred by </th>
                                    <th scope="col" width="10%"> Unique ID(UID) </th>
                                    <th scope="col" width="10%"> Referred to </th>
                                    <th scope="col" width="10%"> Amount Paid </th>
                                    <th scope="col" width="20%"> Amount Received on </th>
                                    <!-- <th scope="col" width="15%>"> </th>
     -->
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <!-- <th scope="row"> <input class="form-check-input mt-2" type="checkbox"> </th> -->
                                    <input type="date" class="form-control mt-2 " placeholder="" maxlength="23">
                                    <td>

                                        <select class=" mt-2 custom-select custom-select-sm menu align-items-md-start">
                                            <option selected>Franchise</option>
                                            <option value="1">Student</option>
                                            <option value="2">Other</option>
                                        </select>
                                    </td>


                                    <td> <input type="text" class="form-control " placeholder="100" maxlength="8"> </td>
                                    <td>

                                        <select class=" mt-2 custom-select custom-select-sm menu align-items-md-start">
                                            <option selected>Student</option>
                                            <option value="1">School</option>
                                            <option value="2">Other</option>
                                        </select>
                                    </td>
                                    <td>

                                        <select class=" mt-2 custom-select custom-select-sm menu align-items-md-start">
                                            <option selected>Yes</option>
                                            <option value="1">No</option>

                                        </select>
                                    </td>

                                    <td>

                                        <input type="date" class="form-control " placeholder="" maxlength="23">

                                    </td>


                                    <td>
                                        <button class="btn1 dropbtn btn-outline-primary">Details</button>

                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <!-- <div class="col-md-1 column ">
                        </div> -->
                </div>
            </div>
        </div>
    </div>
</section>