<!-- <section class="lginscrn">
    <!-- Container starts here -->
    <div class ="container">      
        <!-- Row Starts here -->
        <div class="row ">
            
<div class="col-md-12">
    <div class="login_page"> 
        <!-- <img class="logogif ml-3 mb-4"  src = "assets/images/anu-aca-logo.gif"/> -->
     
        <div class="form">
            <p class="head" > Sign-in</p>
            
            <br>
            <form class="register_form "> 
                <input type="text" placeholder="Mobile Number"/>
                <label class="outext1">Enter 6 digit OTP</label>
                <input type="password" placeholder="OTP" /> 
                <!-- <input type="email" placeholder="email" /> -->
            </form>
            <form class="login_form"> 
                <input type="text" placeholder="Username">
                 <input type="password" placeholder="password">
                  <button class="btn_login">login</button>
                <p class="message mt-4 ml-2"> Not Registered? &nbsp;&nbsp; <a href="#">Register Now !</a></p>
            </form>
        </div>
    </div>
</div>


