<section class="main-header">
    <div class="container-fluid">
        <div class="wrapper">
            <p class="cdhead ps-3 pt-2">  Reference Report  </p>
            <div class="cdcontent ">
                <div class="row">
                    <div class="col-md-12 column">
                        <hr>

                        <div class="row">
                            <aside class="col-md-1">

                            </aside> <!-- col.// -->

                            <aside class="col-md-11">
                                <ul class="fd list-group list-group-horizontal">
                                   
                                    <li class="list-group-item">   Referred by :  </li>
                                    <li class="list-group-item">  Madhavi</li>
                                    <li class="list-group-item">  UID :  </li>
                                    <li class="list-group-item">   12345678 </li>
                                   
                                </ul>
                                <table class="table  table-borderless table-hover table-responsive ">
                                    <thead>
                                        <tr class="table-light  ">
                                            <th scope="col" width="5%"> Date </th>
                                            <th scope="col" width="15%"> Refer to</th>
                                            <th scope="col" width="10%"> Total Amount </th>
                                            <th scope="col" width="10%"> Paid Amount</th>
                                            <th scope="col" width="5%"> Paid Date </th>
                                            <th scope="col" width="10%"> Balance </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <!-- <th scope="row"> <input class="form-check-input mt-2" type="checkbox"> </th> -->
                                            <input type="date" class="form-control mt-2 " placeholder="" maxlength="23">
                                            <td> ARS </td>
                                            <td> &#x20B9; 100000</td>
                                            <td> &#x20B9; 80000</td>

                                            <input type="date" class="form-control mt-2 " placeholder="" maxlength="23">
                                            <td> &#x20B9; 20000</td>
                                            <td> Balance will be paid on 31/03/2022</td>
                                            <td>
                                                <button class=" btn1 btn-outline-primary">Pay Now</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </aside>
                        </div> <!-- row.// -->
                        <!-- </div>  -->
                        <!--container end.//-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>