



<!----Product Info :  Add a Product /Manage Inventory/Edit        -->




<section class="headimage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4 text-center">
                <img class="imgpo mt-3" src="assets/images/EHW.png" height="300px" width="200px">
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <h3> English Handwriting Book </h3>
            </div>
        </div>
    </div>
</section>
<hr>
<section class="navhead">
    <div class="row">
        <div class="col-md-2"> </div>

        <div class="col-md-8">
            <nav class="navbar navbar-expand-lg navbar-light bg-light ">
                <div class="container-fluid">
                    <a class="navbar-brand" > </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav text-center me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/addproduct']">Product Info</a>
                            </li>
                              <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/addpro-offer']">Offer</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" [routerLink]="['/addpro-image']">Images</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/addpro-des']">Description & Keywords</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="#">Keywords</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">More details</a>
                            </li> -->
                        </ul>

                    </div>
                </div>
            </nav>

            <form>
                <div class="row mb-3 mt-4">
                    <label for="inputitem" class="col-sm-2 col-form-label">Item Name</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="inputitem">
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="inputcntry" class="col-sm-2 col-form-label">Country of Origin</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="inputcntry">
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="inputpro" class="col-sm-2 col-form-label">Product Code</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="inputpro">
                    </div>
                    <label for="inputisbn" class="col-sm-2 ps-5 mt-2">ISBN Code</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="inputisbn">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputrfor" class="col-sm-2 col-form-label">*Recommended for</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="inputrfor">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputpf" class="col-sm-2 col-form-label">*Product Format</label>
                    <div class="col-md-10">
                        <select id="inputpf" class="form-select">
                            <option selected>Box</option>
                            <option>Paperback</option>
                            <option>e-book</option>
                            <option>Video</option>

                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputbc" class="col-sm-2 col-form-label">Box contain</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="inputbc">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputlp" class="col-sm-2 col-form-label">Language Published</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="inputlp">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputmf" class="col-sm-2 col-form-label">Manufacturer</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="inputmf" readonly
                            placeholder="Anu's English Academy">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputathr" class="col-sm-2 col-form-label">Author</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="inputathr" 
                            placeholder="Devender Kumar Sharma alias Anu Sharma">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputpy" class="col-sm-2 col-form-label">Publication Year</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="inputathr">
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="inputcolr" class="col-sm-2 col-form-label">Color</label>
                    <div class="col-md-10">
                        <select id="inputcolr" class="form-select">
                            <option selected>Single Color</option>
                            <option>Multicolor</option>

                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="inputbr" class="col-sm-2 col-form-label">Brand Name</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="inputbr" readonly
                            placeholder="ANU'S ENGLISH ACADEMY">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputht" class="col-sm-2 col-form-label">Handling Time (in days)</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="inputht">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputcdtn" class="col-sm-2 col-form-label">Condition</label>
                    <div class="col-md-10">
                        <select id="inputcdtn" class="form-select">
                            <option selected>New</option>
                            <option>Old</option>

                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputmor" class="col-sm-2 col-form-label">Max Order Quantity</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="inputmor">
                    </div>
                </div>

                <div class="input-group mb-3">
                    <label for="inputmrp" class="col-sm-2 col-form-label">M.R.P</label>
                    <span class="input-group-text ms-1">&#x20B9;</span>
                    <div class="col-md-3">
                        <input type="text" class="form-control" aria-label="Amount">
                        <!-- <span class="input-group-text">.00</span> -->
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label for="inputsp" class="col-sm-2 col-form-label">Selling Price</label>
                    <span class="input-group-text ms-1">&#x20B9;</span>
                    <div class="col-md-3">
                        <input type="text" class="form-control" aria-label="Amount">
                        <!-- <span class="input-group-text">.00</span> -->
                    </div>
                </div>

                <div class="input-group mb-3">
                    <label for="inputdsc" class="col-sm-2 col-form-label">Discount</label>
                    <span class="input-group-text ms-1">&#x20B9;</span>
                    <div class="col-md-3">
                        <input type="text" class="form-control" aria-label="Amount">
                        <!-- <span class="input-group-text">.00</span> -->
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label for="inputsf" class="col-sm-2 col-form-label">Shipping Fee</label>
                    <span class="input-group-text ms-1">&#x20B9;</span>
                    <div class="col-md-3">
                        <input type="text" class="form-control" aria-label="Amount">
                        <!-- <span class="input-group-text">.00</span> -->
                    </div>
                </div>
                

                <div class="row mb-3">
                    <label for="inputptc" class="col-sm-2 col-form-label">Product Tax Code</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="inputptc">
                    </div>
                    <label for="inputhsn" class="col-sm-2 col-form-label">HSN Code</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="inputhsn">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label for="inputdsc" class="col-sm-2 col-form-label">Restock Date</label>
                    <div class="col-md-3 ms-1">
                        <input type="date" id="myDate" value="2014-02-09">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputqty" class="col-sm-2 col-form-label">Quantity</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="inputqty">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputpw" class="col-sm-2 col-form-label">Package Weight</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="inputpw">
                    </div>
                    <div class="col-md-5">
                        <select id="inputpwk" class="form-select">
                            <option selected>Kg</option>
                            <option>g</option>

                        </select>
                    </div>
                </div>              
                <div class="row mb-3">
                    <label for="inputsw" class="col-sm-2 col-form-label">Shipping Weight</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="inputsw">
                    </div>
                    <div class="col-md-5">
                        <select id="inputswk" class="form-select">
                            <option selected>Kg</option>
                            <option>g</option>

                        </select>
                    </div>
                </div>              
                <div class="row mb-3">
                    <label for="inputmage" class="col-sm-2 col-form-label">Minimum Reading Age</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="inputmage">
                    </div>
                    <div class="col-md-5">
                        <select id="inputmyrs" class="form-select">
                            <option selected>years</option>
                            <option>g</option>

                        </select>
                    </div>
                </div>              
                <div class="row mb-3">
                    <label for="inputmxage" class="col-sm-2 col-form-label">Maximum Reading Age</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="inputmxage">
                    </div>
                    <div class="col-md-5">
                        <select id="inputmyrs" class="form-select">
                            <option selected>years</option>
                            <option>g</option>

                        </select>
                    </div>
                </div>     
                <div class="row mb-3">
                    <label for="inputnop" class="col-sm-2 col-form-label">Number of Pages</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="inputnop">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputaud" class="col-sm-2 col-form-label">Target Audience</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="inputaud">
                    </div>
                </div>

              
                <div class="row mb-3 mt-2">
                    <div class="col-md-5">

                    </div>
                    <div class="col-md-5">
                        <button type="submit" class="btn1 btn-primary me-3">Save and Finish</button>
                        <button type="submit" class="btn2 btn-light">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-2"> </div>
    </div>
</section>