<!-- <section class="lginscrn">
    <!-- Container starts here -->
    <div class ="container">      
        <!-- Row Starts here -->
        <div class="row ">
            
<div class="col-md-12">
    <div class="login_page"> 
        <!-- <img class="logogif ml-3 mb-4"  src = "assets/images/anu-aca-logo.gif"/> -->
     
        <div class="form">
            <p class="head" > Sign-in</p>
            <hr>
            <div class="user-pic mt-2">
                <img class="img-responsive mb-2" src="assets/images/anu1.png" alt="User picture"> 
                &nbsp;  &nbsp; &nbsp;   <span class="user-name">Devendra Kumar Sharma</span>
            </div> 
            <br>
            <form class="register_form "> 
                <input type="text" placeholder="mobilenumber"/>
                <input type="password" placeholder="Password" /> 
                <input type="email" placeholder="email" />
            </form>
            <form class="login_form"> 
             
                 <input type="password" placeholder="password">
                  <button class="btn_login">login</button>
                <p class="message mt-4 ml-2"> Not Registered? &nbsp;&nbsp; <a href="#">Register Now !</a></p>
            </form>
        </div>
    </div>
</div>

 -->
