<!-- Reference Code: https://bbbootstrap.com/snippets/bootstrap-collapsible-sidebar-navbar-74494348 -->
<!-- <section id="title" class="main-header"> -->
  <section class="main-header">
    <div class="container-fluid">
    <div class ="wrapper"> 
    
  
    <!-- <div class="content ">
      <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <button type="button" id="sidebarCollapse" class="btn btn-info"> <i class=" ag fas fa-align-justify"></i>
        </button> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span
            class="navbar-toggler-icon"></span> </button>
    
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active"><a class="nav-link" href="#"> Home<span class="sr-only">(current)</span></a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Help</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">Settings</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">Contact us</a> </li>
            <li class="nav-item pr-0">
              <button type="button" class="btnsignin">Log in</button>
            </li>
          </ul>
        </div>
      </nav> -->
      <div class="content-wrapper">
        <!--Sale :  Small Box (Stat card) -->
        <h2 class="texthead ">Sale</h2>
        <div class="row">
          <div class="col-md-6">
            <!-- small card -->
            <div class="small-box " style=" border:1px solid #007BFF;
              background-color:#007BFF;
              color:#fff;">
              <p class="text pt-2 " style=" background-color:#007BFF;  
                  color:#fff;">15000 &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                <span class="icon"> <i class="fas fa-shopping-cart "></i> </span>
                <br><strong> Total</strong>
              </p>
              <!-- <a href="#" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a> -->
            </div>
          </div> <!-- ./col -->
  
        </div>
  
        <!--Orders :  Small Box (Stat card) -->
        <h2 class="texthead mt-5">Orders</h2>
        <div class="row">
          <div class="col-md-6">
            <!-- small card -->
            <div class="small-box ml-2" style=" border:1px solid #17A2B8;
                                                background-color:#17A2B8;
                                                color:#fff;">
              <p class="text pt-2 " style=" background-color:#17A2B8;  
                                      color:#fff;">
                500  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                <span class="icon"> <i class="fas fa-shopping-bag "></i> </span>
                <br><strong> New</strong>
              </p>
              <!-- <a href="#" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a> -->
            </div>
          </div> <!-- ./col -->
          <div class="col-md-6">
            <!-- small card -->
            <div class="small-box ml-2" style=" border:1px solid #28A745;
                                                background-color:#28A745;
                                                color:#fff;">
              <p class="text pt-2" style=" background-color:#28A745;  
                                      color:#fff;">
                500  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                <span class="icon"> <i class="fas fa-tasks"></i> </span>
                <br><strong> Total</strong>
              </p>
              <!-- <a href="#" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a> -->
            </div>
          </div> <!-- ./col -->
        </div>
  
        <!--User :  Small Box (Stat card) -->
        <h2 class="texthead mt-5">User</h2>
        <div class="row">
          <div class="col-md-6">
            <!-- small card -->
            <div class="small-box ml-2" style=" border:1px solid #FFC107;
                                                background-color:#FFC107;
                                                color:#fff;">
              <p class="text pt-2" style=" background-color:#FFC107;  
                                      color:#fff;">
                500  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                <span class="icon"> <i class="fas fa-user-plus"></i> </span>
                <br><strong> Registered</strong>
              </p>
              <!-- <a href="#" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a> -->
            </div>
          </div> <!-- ./col -->
          <div class="col-md-6 ">
            <!-- small card -->
            <div class="small-box ml-4" style=" border:1px solid #DC3545;
                                                background-color:#DC3545;
                                                color:#fff;">
              <p class="text pt-2 " style=" background-color:#DC3545;  
                                      color:#fff;">
                100 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                <span class="icon ml-5"> <i class="fas fa-handshake fa-1x"></i> </span>
                <br><strong> Unique Partners</strong>
              </p>
              <!-- <a href="#" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a> -->
            </div>
          </div> <!-- ./col -->
        </div>
  
      </div>
    </div>
    
   
  
  <!-- </div> -->
  </div>
  </section>
  
  
  
