<section class="main-header">
    <div class="container-fluid">
        <div class="wrapper">
            <p class="chead ps-3 pt-2"> Payment :Commission </p>
            <div class="ccontent ">
                <div class="row">
                    <div class="col-md-12 column">
                        <hr>
                        <div class="row">
                            <aside class="col-md-3">
                                <div class="card">
                                    <article class="card-group-item">
                                        <header class="card-header">
                                            <p>Refine by</p>
                                            <h3 class="title"><strong> Product </strong></h3>
                                        </header>
                                        <div class="filter-content">
                                            <div class="card-body">
                                                <label class="form-check">
                                                    <input class="form-check-input" type="radio" name="exampleRadio"
                                                        value="">
                                                    <span class="form-check-label">
                                                        All
                                                    </span>
                                                </label>
                                                <label class="form-check">
                                                    <input class="form-check-input" type="radio" name="exampleRadio"
                                                        value="">
                                                    <span class="form-check-label">
                                                        Franchise
                                                    </span>
                                                </label>
                                                <label class="form-check">
                                                    <input class="form-check-input" type="radio" name="exampleRadio"
                                                        value="">
                                                    <span class="form-check-label">
                                                        Professional
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                        <!-- </div> -->
                                    </article> <!-- card-group-item.// -->
                                </div> <!-- card.// -->
                            </aside> <!-- col.// -->

                            <aside class="col-md-9">
                                <table class="table  table-borderless table-hover table-responsive ">
                                    <thead>
                                        <tr class="table-light  ">
                                            <th scope="col" width="5%"> Date </th>
                                            <th scope="col" width="15%"> Franchise Name</th>
                                            <th scope="col" width="20%"> Unique ID(UID) </th>
                                            <th scope="col" width="15%"> Referred to </th>
                                            <th scope="col" width="15%"> Amount received by </th>         
                                        </tr>
                                    </thead>       
                                    <tbody>
                                        <tr>
                                            <!-- <th scope="row"> <input class="form-check-input mt-2" type="checkbox"> </th> -->
                                            <input type="date" class="form-control mt-2 " placeholder="" maxlength="23">
                                            <td> Franchise1 </td>
                                            <td> U1234ABCD </td>
                                                <td> ABCD </td>                                          
                                            <td>
                                                <select class=" mt-2 custom-select custom-select-sm menu align-items-md-start">
                                                    <option selected>Yes</option>
                                                    <option value="1">No</option>                                                   
                                                </select>
                                            </td>                         
                                            <td> 
                                                <button class="btn1 dropbtn btn-outline-primary">Reference Details</button> 
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>                              
                            </aside>
                        </div> <!-- row.// -->
                        <!-- </div>  -->
                        <!--container end.//-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>