<section class="main-header">
    <div class="container-fluid">
        <div class="wrapper">
            <p class="ohead ps-3 pt-2"> Manage Orders</p>
            <div class="ocontent ">

                <div class="row">
                    <div class="col-md-12 column">
                        <nav class="navbar navbar-expand-xl navbar-light bg-light">
                            <div class="container-fluid">
                                <!-- <a class="navbar-brand" href="#">Navbar</a>
                              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBasic" aria-controls="navbarBasic" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                              </button> -->
                                <div class="collapse navbar-collapse show" id="navbarBasic">
                                    <ul class="navbar-nav me-auto ">
                                        <li class="nav-item">
                                            <a class="nav-link active" aria-current="page" href="#">Pending</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Unshipped</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Cancelled</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Sent</a>
                                        </li>
                                    </ul>

                                </div>


                            </div>
                        </nav>


                        <!-- <div class="container"> -->




                        <hr>

                        <div class="row">
                            <aside class="col-md-3">
                                <div class="card">
                                    <article class="card-group-item">
                                        <header class="card-header">
                                            <p>Refine by</p>
                                            <h3 class="title"><strong> Product </strong></h3>
                                        </header>
                                        <div class="filter-content">
                                            <div class="card-body">
                                                <label class="form-check">
                                                    <input class="form-check-input" type="radio" name="exampleRadio"
                                                        value="">
                                                    <span class="form-check-label">
                                                        All
                                                    </span>
                                                </label>
                                                <label class="form-check">
                                                    <input class="form-check-input" type="radio" name="exampleRadio"
                                                        value="">
                                                    <span class="form-check-label">
                                                        Magic English Speaking Course
                                                    </span>
                                                </label>
                                                <label class="form-check">
                                                    <input class="form-check-input" type="radio" name="exampleRadio"
                                                        value="">
                                                    <span class="form-check-label">
                                                        My English Friend
                                                    </span>
                                                </label>
                                                <label class="form-check">
                                                    <input class="form-check-input" type="radio" name="exampleRadio"
                                                        value="">
                                                    <span class="form-check-label">
                                                        English Handwriting Improvement Course
                                                    </span>
                                                </label>
                                                <label class="form-check">
                                                    <input class="form-check-input" type="radio" name="exampleRadio"
                                                        value="">
                                                    <span class="form-check-label">
                                                        Hindi Handwriting Improvement Course
                                                    </span>
                                                </label>
                                                <label class="form-check">
                                                    <input class="form-check-input" type="radio" name="exampleRadio"
                                                        value="">
                                                    <span class="form-check-label">
                                                        Marathi Handwriting Improvement Course
                                                    </span>
                                                </label>
                                                <label class="form-check">
                                                    <input class="form-check-input" type="radio" name="exampleRadio"
                                                        value="">
                                                    <span class="form-check-label">
                                                        Sanskrit Handwriting Improvement Course
                                                    </span>
                                                </label>
                                                <label class="form-check">
                                                    <input class="form-check-input" type="radio" name="exampleRadio"
                                                        value="">
                                                    <span class="form-check-label">
                                                        My Hindi Friend
                                                    </span>
                                                </label>
                                                <label class="form-check">
                                                    <input class="form-check-input" type="radio" name="exampleRadio"
                                                        value="">
                                                    <span class="form-check-label">
                                                        My Grammar Guru
                                                    </span>
                                                </label>
                                            </div>
                                            <header class="card-header">

                                                <h3 class="title"><strong>Ship by Date</strong> </h3>
                                            </header>
                                            <div class="card-body">
                                                <label class="form-check">
                                                    <input class="form-check-input" type="radio" name="exampleRadio"
                                                        value="">
                                                    <span class="form-check-label">
                                                        All dates
                                                    </span>
                                                </label>
                                                <label class="form-check">
                                                    <input class="form-check-input" type="radio" name="exampleRadio"
                                                        value="">
                                                    <span class="form-check-label">
                                                        Shib by today
                                                    </span>
                                                </label>
                                                <label class="form-check">
                                                    <input class="form-check-input" type="radio" name="exampleRadio"
                                                        value="">
                                                    <span class="form-check-label">
                                                        Ship by tomorrow
                                                    </span>
                                                </label>
                                            </div>
                                            <!-- <hr> -->
                                            <header class="card-header">
                                                <h3 class="title"><strong>Shipping Service </strong> </h3>
                                            </header>

                                            <div class="filter-content">
                                                <div class="card-body">
                                                    <label class="form-check">
                                                        <input class="form-check-input" type="radio" name="exampleRadio"
                                                            value="">
                                                        <span class="form-check-label">
                                                            Courier
                                                        </span>
                                                    </label>
                                                    <label class="form-check">
                                                        <input class="form-check-input" type="radio" name="exampleRadio"
                                                            value="">
                                                        <span class="form-check-label">
                                                            Indian Post
                                                        </span>
                                                    </label>
                                                    <label class="form-check">
                                                        <input class="form-check-input" type="radio" name="exampleRadio"
                                                            value="">
                                                        <span class="form-check-label">
                                                            Others
                                                        </span>
                                                    </label>
                                                </div> <!-- card-body.// -->
                                            </div>

                                            <header class="card-header">

                                                <h3 class="title"> <strong>Payment Method </strong></h3>
                                            </header>


                                            <div class="filter-content">
                                                <div class="card-body">
                                                    <label class="form-check">
                                                        <input class="form-check-input" type="radio" name="exampleRadio"
                                                            value="">
                                                        <span class="form-check-label">
                                                            Debit Card
                                                        </span>
                                                    </label>
                                                    <label class="form-check">
                                                        <input class="form-check-input" type="radio" name="exampleRadio"
                                                            value="">
                                                        <span class="form-check-label">
                                                            Credit Card
                                                        </span>
                                                    </label>
                                                    <label class="form-check">
                                                        <input class="form-check-input" type="radio" name="exampleRadio"
                                                            value="">
                                                        <span class="form-check-label">
                                                            Paytm
                                                        </span>
                                                    </label>
                                                    <label class="form-check">
                                                        <input class="form-check-input" type="radio" name="exampleRadio"
                                                            value="">
                                                        <span class="form-check-label">
                                                            GPay
                                                        </span>
                                                    </label>
                                                    <label class="form-check">
                                                        <input class="form-check-input" type="radio" name="exampleRadio"
                                                            value="">
                                                        <span class="form-check-label">
                                                            Cash
                                                        </span>
                                                    </label>
                                                    <label class="form-check">
                                                        <input class="form-check-input" type="radio" name="exampleRadio"
                                                            value="">
                                                        <span class="form-check-label">
                                                            Other
                                                        </span>
                                                    </label>
                                                </div> <!-- card-body.// -->
                                            </div>

                                        </div>
                                        <!-- </div> -->
                                    </article> <!-- card-group-item.// -->
                                </div> <!-- card.// -->
                            </aside> <!-- col.// -->

                            <aside class="col-md-9">
                                <div class="row">
                                    <aside class="col-md-3">
                                        <button type="button" class="btn btn-dark">Hide filters</button>&nbsp; <span
                                            class="norder"> <strong> 0 orders </strong> </span>
                                    </aside>
                                    <aside class="col-md-1 ">
                                        <div class="dropdown">
                                            <button class="btn btn-primary1 dropdown-toggle" type="button"
                                                id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                                Date Range
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <li><a class="dropdown-item" href="#">Last 90 days</a></li>
                                                <!-- <li><a class="dropdown-item" href="#">Another action</a></li>
                                  <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                                            </ul>
                                        </div>
                                    </aside>
                                    <aside class="col-md-1 ms-5">
                                        <div class="dropdown">
                                            <button class="btn btn-primary1 dropdown-toggle" type="button"
                                                id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                                Order
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                                <li><a class="dropdown-item " href="#">Product(ascending)</a></li>
                                                <li><a class="dropdown-item " href="#">Product(descending)</a></li>
                                                <li><a class="dropdown-item " href="#">Order date(ascending)</a></li>
                                                <li><a class="dropdown-item " href="#">Order date(descending)</a></li>
                                                <li><a class="dropdown-item " href="#">Shipping Service(ascending)</a>
                                                </li>
                                                <li><a class="dropdown-item " href="#">Shipping Service(descending)</a>
                                                </li>

                                            </ul>
                                        </div>
                                    </aside>
                                    <aside class="col-md-1 ms-2 me-4">
                                        <div class="dropdown">
                                            <button class="btn btn-primary1 dropdown-toggle" type="button"
                                                id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                                Results per page(15)
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                                <li><a class="dropdown-item " href="#">15</a></li>
                                                <li><a class="dropdown-item " href="#">25</a></li>

                                            </ul>
                                        </div>
                                    </aside>

                                    <aside class="col-md-3 tp ">

                                        <button class="btn btn-primary1 " type="button" id="" data-bs-toggle=""
                                            aria-expanded="false">
                                            Set Table Preferences
                                        </button>


                                    </aside>
                                    <aside class="col-md-2 tp1 ">

                                        <button class="btn btn-primary1 " type="button" id="" data-bs-toggle=""
                                            aria-expanded="false">
                                            Refresh
                                        </button>


                                    </aside>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="container-fluid">
                                        No orders were found that match the given search criteria.

                                        <table class="table table-borderless border-collapse table-hover table-responsive ">
                                            <thead>
                                                <tr class="table-light ">
                                                    <th scope="col"width="5%"> <input class=" chkbox form-check-input"
                                                            type="checkbox"> </th>
                                                    <th scope="col" width="5%"> Order date</th>
                                                    <th scope="col" width="15%"> Order details </th>
                                                    <th scope="col" width="10%"> Image </th>
                                                    <th scope="col" width="20%"> Product name </th>
                                                    <th scope="col" width="15%"> Customer opinion </th>
                                                    <th scope="col" width="20%"> Order status </th>
                                                    <th scope="col" width="10%">Action</th>

                                                    <!-- <th scope="col" width="15%>"> <button class="dropbtn btn-outline-primary">Save all</button> </th> -->

                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr>
                                                    <th scope="row"> <input class="form-check-input mt-2"
                                                            type="checkbox"> </th>
                                                    <td> 23/02/2022 11:46:50 </td>
                                                    <td> MESC-2305-12345</td>
                                                    <td class="w-10">
                                                        <!-- Status -->
                                                        <img src="assets/images/EHW.png" height="80px" width="60px">
                                                        <!-- class=" img-thumbnail" alt=""> -->
                                                    </td>

                                                    <td> English Handwriting Improvement Kit
                                                        Quantity : <strong> 4 </strong> <br>
                                                        Item subtotal: &#x20B9; <strong>2570.00 </strong>
                                                    </td>
                                                    <td> 1 </td>

                                                    <td>
                                                        <span class="badge bg-success rounded-pill">Pending</span> <!---Pending-->
                                                        <span class="badge bg-success rounded-pill">Waiting for Pickup</span> <!---Unshipped-->
                                                        <span class="badge bg-success rounded-pill">Cancelled</span> <!---cancel-->
                                                        <span class="badge bg-success rounded-pill">Picked up</span> <!---Sent-->
                                                       

                                                    <td> </td>

                                                    <td>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row"> <input class="form-check-input mt-2"
                                                            type="checkbox"> </th>

                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            </aside>

                        </div> <!-- row.// -->

                        <!-- </div>  -->
                        <!--container end.//-->


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>