<!---- Add a Product /Manage Inventory/Edit        -->




<section class="headimage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">

      </div>
      <div class="col-md-4 text-center">
        <img class="imgpo mt-3" src="assets/images/EHW.png" height="300px" width="200px">
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <h3> English Handwriting Book </h3>
      </div>
    </div>
  </div>
</section>
<hr>
<section class="navhead">
  <div class="row">
    <div class="col-md-2"> </div>

    <div class="col-md-8">
      <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <div class="container-fluid">
          <a class="navbar-brand"> </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav text-center me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page"[routerLink]="['/addproduct']">Product Info</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " [routerLink]="['/addpro-offer']">Offer</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link   "[routerLink]="['/addpro-image']">Images</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active " [routerLink]="['/addpro-des']">Description & Keywords</a>
              </li>
              <!-- <li class="nav-item">
                              <a class="nav-link" href="#">Keywords</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#">More details</a>
                          </li> -->
            </ul>

          </div>
        </div>
      </nav>

      <form>

        <div class="row mb-3 mt-3 mb-3">
          <label class="form-label" for="form6Example7">Additional information</label>
          <div class="col-md-12">
              <!-- <div class="form-outline  w-75 mb-4"> -->
                 
                  <textarea class="form-control" id="form6Example7" rows="4"></textarea>
         
              <!-- </div> -->
          </div>
      </div>
      <div class="row mb-3 mt-3">
        <label for="kw" class="col-sm-2 col-form-label">Search Terms</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="kw">
        </div>
    </div>



        <div class="row mb-3 mt-2">
          <div class="col-md-5">

          </div>
          <div class="col-md-5">
            <button type="submit" class="btn1 btn-primary me-3">Save and Finish</button>
            <button type="submit" class="btn2 btn-light">Cancel</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-2"> </div>
  </div>
</section>