
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <!-- <span class="fs-5 d-none d-sm-inline">Menu</span> -->
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                             <span class="ms-1 d-none d-sm-inline">Personal Information </span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <span class="ms-1 d-none d-sm-inline">Address</span>
                        </a>

                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <span class="ms-1 d-none d-sm-inline">Bank Account Details</span></a>
                    </li>
                   


                </ul>
                <hr>

            </div>
        </div>
        <!---Personal Data-->
      <div class="col py-3">
            <form>
                <div class="row mb-3">
                    <label for="inputpf" class="col-sm-2 col-form-label">Type of Address</label>
                    <div class="col-md-3">
                        <select id="inputpf" class="form-select">
                            <option selected>Mr.</option>
                            <option>Ms.</option>
                            <option>Mrs.</option>
                         

                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="fname" class="col-sm-2 col-form-label">First Name</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="fname">
                    </div>
                    <label for="lname" class="col-sm-2 ps-5 mt-2">Last Name</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="lname">
                    </div>
                </div>
                <div class="row mb-3 mt-4">
                    <label for="mname" class="col-sm-2 col-form-label">Middle Name</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="mname">
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="phone" class="col-sm-2 col-form-label">Mobile Number</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="phone">
                    </div>
                   
                </div>
                <div class="row mb-3">
                    <label for="phone" class="col-sm-2 col-form-label">Enter OTP</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="phone">
                     
                    </div>
                    <div class="col-md-3">
                        <a href="#" class="ps-2 ms-4 btn btn-primary">Verify</a>
                        </div>
                   
                </div>
                <hr>
                <label for="adetail" class="adetail col-sm-2 col-form-label"><strong> Address Detail</strong> </label>
                <div class="row mb-3">
                    <label for="hnos" class="col-sm-2 col-form-label">House No </label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="hnos">
                    </div>
                    <label for="sta" class=" col-sm-2 ps-5 mt-2">Street/Apartment</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="sta">
                    </div>
                    
                </div>
                <div class="row mb-3">
                    <label for="loc" class="col-sm-2 col-form-label">Locality</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="loc">
                    </div>
                    
                </div>
                <div class="row mb-3">
                    <label for="lmk" class="col-sm-2 col-form-label">Landmark</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="lmk">
                    </div>
                    
                </div>
                 <div class="row mb-3">
                    <label for="city" class="col-sm-2 col-form-label">City</label>
                    <div class="col-md-3">
                        <select id="city" class="form-select">
                            <option selected>India</option>
                            <option>USA</option>
                            <option>UK</option>    
                        </select>
                    </div>
                </div>
               <div class="row mb-3">
                    <label for="state" class="col-sm-2 col-form-label">State</label>
                    <div class="col-md-3">
                        <select id="state" class="form-select">
                            <option selected>India</option>
                            <option>USA</option>
                            <option>UK</option>    
                        </select>
                    </div>
                </div>
                 <div class="row mb-3">
                    <label for="pc" class="col-sm-2 col-form-label">Pincode </label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="pc">
                    </div>
                </div>
                
                <div class="row mb-3">
                    <label for="cob" class="col-sm-2 col-form-label">Country</label>
                    <div class="col-md-3">
                        <select id="cob" class="form-select">
                            <option selected>India</option>
                            <option>USA</option>
                            <option>UK</option>    
                        </select>
                    </div>
                </div>
                <hr>
                <label for="adetail" class="adetail col-sm-2 col-form-label"><strong> Bank Account Detail</strong> </label>
                <div class="row mb-3">
                    <label for="acc" class="col-sm-2 col-form-label">Account Type</label>
                    <div class="col-md-3">
                        <select id="city" class="form-select">
                            <option selected>Current</option>
                            <option>Saving</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="ano" class="col-sm-2 col-form-label">Aadhar Card Number</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="ano">
                    </div>
                   
                </div>

                <div class="row mb-3">
                    <label for="bname" class="col-sm-2 col-form-label">Bank Name</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="bname">
                    </div>   
                </div>

                <div class="row mb-3">
                    <label for="ifsc" class="col-sm-2 col-form-label">IFSC Code</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="ifsc">
                    </div>               
                </div>
                <div class="row mb-3">
                    <label for="uid" class="col-sm-2 col-form-label">UPI ID</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="uid">
                    </div>               
                </div>
                <div class="row mb-3">
                    <label for="hnos" class="col-sm-2 col-form-label">Branch Name </label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="hnos">
                    </div>
                   
                    
                </div>
                <div class="row mb-3">
                    <label for="loc" class="col-sm-2 col-form-label">Locality</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="loc">
                    </div>
                    
                </div>

                 <div class="row mb-3">
                    <label for="city" class="col-sm-2 col-form-label">City</label>
                    <div class="col-md-3">
                        <select id="city" class="form-select">
                            <option selected>India</option>
                            <option>USA</option>
                            <option>UK</option>    
                        </select>
                    </div>
                </div>
               <div class="row mb-3">
                    <label for="state" class="col-sm-2 col-form-label">State</label>
                    <div class="col-md-3">
                        <select id="state" class="form-select">
                            <option selected>India</option>
                            <option>USA</option>
                            <option>UK</option>    
                        </select>
                    </div>
                </div>
                 <div class="row mb-3">
                    <label for="pc" class="col-sm-2 col-form-label">Pincode </label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="pc">
                    </div>
                </div>
                
                <div class="row mb-3">
                    <label for="cob" class="col-sm-2 col-form-label">Country</label>
                    <div class="col-md-3">
                        <select id="cob" class="form-select">
                            <option selected>India</option>
                            <option>USA</option>
                            <option>UK</option>    
                        </select>
                    </div>
                </div>
                
                <div class="row mb-3 mt-2">
                    <div class="col-md-3">
          
                    </div>
                    <div class="col-md-5">
                      <button type="submit" class="btn1 btn-primary me-3">Submit</button>
                      <button type="submit" class="btn1 btn-light">Reset</button>
                    </div>
                  </div>
            </form>
        </div>
